<!--
This file is part of DSGOV.BR - Web Components.

DSGOV.BR - Web Components is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Web Components is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Web Components. If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template>
  <div v-if="isOpen" class="br-notification" :class="{ show: isOpen }">
    <div class="notification-header">
      <div class="row">
        <div class="col-10">
          <span class="text-bold">{{ title }}</span>
          <br>
          <small><a>{{ subtitle }}</a></small>
        </div>
      </div>
    </div>
    <div class="notification-body">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: "BrNotification",
  provide() {
    return {
      parentNotification: this,
    }
  },
  props: {
    /**
     * **[OBRIGATÓRIO]** Título da lista de notificações.
     * */
    title: {
      type: String,
      required: true,
    },
    /**
     * **[OPCIONAL]** Subtítulo da lista de notificações.
     * */
    subtitle: {
      type: String,
      default: "",
    },
  },
  data() {
    return {
      isOpen: true,
    }
  },
}
</script>

<style lang="scss">
@import "~@govbr/dsgov/src/partial/scss/_base";
@import "~@govbr/dsgov/src/partial/scss/_utilities";
@import "~@govbr/dsgov/src/components/notification/_notification";
@import "~@govbr/dsgov/src/components/tag/_tag";
</style>
