<!--
This file is part of DSGOV.BR - Web Components.

DSGOV.BR - Web Components is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Web Components is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Web Components. If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template>
  <button
    v-bind="$attrs"
    class="br-button"
    :class="{
      primary: type === 'primary',
      secondary: type === 'secondary',
      large: density === 'large',
      middle: density === 'middle',
      small: density === 'small',
      xsmall: density === 'xsmall',
      loading,
      inverted,
      active,
      circle,
      block,
      rectangular,
      tabbed: parentNotification,
    }"
    aria-label=""
    type="button"
    :disabled="disabled"
  >
    <slot>
      <font-awesome-icon
        v-if="icon"
        :icon="icon"
        size="1x"
        aria-hidden="true"
        :class="{ 'mr-1': circle ? false : true }"
      />
      <span v-if="!circle">
        <slot>{{ label }}</slot>
      </span>
    </slot>
  </button>
</template>

<script>
import FontAwesomeIcon from "../../font-awesome-share"

export default {
  name: "BrButton",
  components: {
    FontAwesomeIcon,
  },
  inject: ["parentNotification"],
  props: {
    /**
     * **[Obrigatório]** O rótulo é um elemento obrigatório. A **exceção** ocorre na versão tipo circular uma vez que não existe rótulo.
     */
    label: {
      type: String,
      validator: function (value) {
        return value.length > 0
      },
      default: null,
    },
    /**
     * **[Opcional]** Ênfase do botão, com finalidade de proporcionar hierarquia visual a esses elementos e ações. Os botões mudam de aparência conforme a ênfase utilizada. A ênfase terciária é padrão. **[ primary | secondary ]**".
     */
    type: {
      type: String,
      validator: function (value) {
        return ["secondary", "primary", "tertiary"].includes(value)
      },
      default: null,
    },
    /**
     * **[Opcional]** Tipo de botão muito usado dentro de outros componentes ou em situações onde a representação do ícone é suficiente para transmitir a mensagem ao usuário.
     */
    circle: {
      type: Boolean,
      default: false,
    },
        /**
     * **[Opcional]** Tipo de botão sem bordas.
     */
    rectangular: {
      type: Boolean,
      default: false,
    },
    /** **[Opcional]** O ajuste da densidade consiste em aumentar ou reduzir os espaçamentos internos do botão de forma a deixá-los mais compactos ou mais expandidos em seu formato. **[ large | middle | small ]**
     */
    density: {
      type: String,
      default: "middle",
      validator: function (value) {
        return ["large", "middle", "small", "xsmall"].includes(value)
      },
    },
    /** **[Opcional]** Desabilita o botão */
    disabled: {
      type: Boolean,
      default: false,
    },
    /** **[Opcional]** Apresenta o botão em comportamento de bloco. o botão “empurra” qualquer outro elemento existente para outro espaço disponível. */
    block: {
      type: Boolean,
      default: false,
    },
    /**
     * **[Opcional]** Usado quando houver uma necessidade de enfatizar visualmente a ideia da ação. **Nos botões do tipo circular a utilização é obrigatória, visto que a mensagem da ação é transmitida apenas pelo ícone.**
     */
    icon: {
      default: null,
      type: [String],
      validator: function (value) {
        return value.length > 0
      },
      default: null,
    },
    /**
     * **[OPCIONAL]** Utilizado quando o background possui cores escuras.
     */
    inverted: {
      type: Boolean,
      default: false,
    },
    /**
     * **[OPCIONAL]** Utilizado para enfatizar o estado ativo do botão
     */
    active: {
      type: Boolean,
      default: false,
    },
    /**
     * **[OPCIONAL]** Aplica carregando
     */
    loading: {
      type: Boolean,
      default: false,
    },
  },
}
</script>

<style lang="scss">
@import "@fortawesome/fontawesome-svg-core/styles";
@import "~@govbr/dsgov/src/partial/scss/_base";
@import "~@govbr/dsgov/src/partial/scss/_utilities";
@import "~@govbr/dsgov/src/components/button/_button";
@import "~@govbr/dsgov/src/components/loading/_loading";
@import "~@govbr/dsgov/src/components/notification/_notification";

.tabbed {
  width: 100%;
  height: auto;
  text-align: var(--list-item-align);
  padding: var(--notification-padding);
  justify-content: flex-start;
  border-radius: 0;
  color: var(--color);
  font-weight: normal;
  font-size: 0.875rem;
  white-space: normal;
}

// adaptar quando a versão 3 do dsgov estiver disponível
// a classe abaixo está disponível apenas nos webcomponents
.rectangular {
    --button-radius: 0;
}

</style>
