<!--
This file is part of DSGOV.BR - Web Components.

DSGOV.BR - Web Components is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Web Components is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Web Components. If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
-->
<!-- Button -->
<div>
  <h2>Button</h2>
  <br-button label="Primário" type="primary" icon="home" class="mt-3"></br-button>
  <br-button label="Secundário" type="secondary" icon="times" class="mt-3 ml-1"></br-button>
  <br-button label="Terciário" type="tertiary" icon="home" class="mt-3 ml-1"></br-button>

  <p class="h5 pt-3">Ênfase</p>
  <div>
    <br-button label="Primário" type="primary" icon="home"></br-button>
    <br-button label="Secundário" type="secondary" icon="city" class="ml-1"></br-button>
    <br-button label="Terciário" type="tertiary" icon="city" class="ml-1"></br-button>

    <div class="mt-3">
      <br-button circle label="Primário" type="primary" icon="car"></br-button>
      <br-button circle label="Secundário" type="secondary" icon="city" class="ml-1"></br-button>
      <br-button circle label="Terciário" type="tertiary" icon="car" class="ml-1"></br-button>
    </div>

    <p class="h5 pt-3">Quadrado</p>
    <div>
      <br-button label="Primário" type="primary" rectangular></br-button>
      <br-button label="Secundário" type="secondary" rectangular class="ml-1"></br-button>
      <br-button label="Terciário" type="tertiary" rectangular class="ml-1"></br-button>
    </div>

    <p class="h5 mt-5">Fundo escuro</p>
    <div class="p-3 bg-primary-darken-02">
      <div>
        <br-button inverted label="Primário" type="primary" icon="city"></br-button>
        <br-button inverted label="Secundário" type="secondary" icon="city" class="ml-1"></br-button>
        <br-button inverted label="Terciário" type="tertiary" icon="city" class="ml-1"></br-button>
      </div>
      <div class="mt-3">
        <br-button circle inverted label="Primário" type="primary" icon="city" class="ml-1"></br-button>
        <br-button circle inverted label="Secundário" type="secondary" icon="city" class="ml-1"></br-button>
        <br-button circle inverted label="Terciário" type="tertiary" icon="city" class="ml-1"></br-button>
      </div>
    </div>
    <p class="h5 mt-5">Densidade</p>
    <div>
      <br-button label="Alta" type="primary" density="large" class="ml-1"></br-button>
      <br-button label="Media" type="primary" density="middle" class="ml-1"></br-button>
      <br-button label="Baixa" type="primary" density="small" class="ml-1"></br-button>
    </div>
    <div class="mt-3">
      <br-button circle type="secondary" density="large" icon="city" class="ml-1"></br-button>
      <br-button circle type="secondary" density="middle" icon="city" class="ml-1"></br-button>
      <br-button circle type="secondary" density="small" icon="city" class="ml-1"></br-button>
    </div>

    <p class="h5 mt-5">Estados</p>
    <br-button label="Desativado" type="primary" disabled></br-button>
    <div class="mt-3 mt-sm-0 d-sm-inline-block ml-sm-3">
      <br-button label="Ativado" type="secondary" active></br-button>
    </div>

    <div class="mt-3 mt-sm-0 mb-3 d-sm-inline-block ml-sm-3">
      <br-button type="secondary" loading> Carregando </br-button>
    </div>
  </div>
</div>
