<!--
This file is part of DSGOV.BR - Web Components.

DSGOV.BR - Web Components is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Web Components is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Web Components. If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
-->
<!-- Item -->
<div>
  <h2>Item</h2>
  <h4>Item com hover</h4>
  <br-item hover id="item1">Texto simples</br-item>
  <h4>Item disabled</h4>
  <br-item disabled id="item-disabled">Texto simples</br-item>
  <h4>Item com imagem</h4>
  <br-item hover>
    <!-- Error: br-item do tipo imagem nao funciona -->
    <div class="row align-items-center">
      <div class="col-auto">
        <img
          class="rounded"
          src="https://picsum.photos/40/40"
          alt="imagem de exemplo 1"
        />
      </div>
      <div class="col">
        <span>Item 1 - uma imagem e um texto (sem elemento de formulário)</span>
      </div>
    </div>
  </br-item>
  <h4>Item com checkbox</h4>
  <br-item hover onclick="document.getElementById('check-01').setAttribute('checked', this.checked = !this.checked)">
    <br-checkbox id="check-01" label="Item 1">
    </br-checkbox>
  </br-item>
  <br-item hover onclick="document.getElementById('check-02').setAttribute('checked', this.checked = !this.checked)">
    <br-checkbox id="check-02" label="Item 2">
    </br-checkbox>
  </br-item>
</div>
