<!--
This file is part of DSGOV.BR - Web Components.

DSGOV.BR - Web Components is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Web Components is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Web Components. If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template>
  <a
    v-if="href"
    :href="href"
    class="br-item"
    :class="{
      active: active,
      disabled: disabled,
      selected: selected,
    }"
    :data-toggle="hover ? 'selection' : null"
  >
    <div class="content"><slot /></div>
  </a>
  <div
    v-else
    class="br-item align-items-center"
    :class="{
      active: active,
      disabled: disabled,
      selected: selected,
      open: isOpen,
      'p-0': parentNotification,
    }"
    :data-toggle="hover ? 'selection' : null"
    :role="dataToggleParentBrList ? 'listitem' : null"
  >
    <div v-if="dataToggleParentBrList" class="content">
      <div class="flex-fill">
        {{ title }}
      </div>
      <br-button
        circle
        :icon="isOpen ? 'angle-up' : 'angle-down'"
        :aria-label="'Expandir/Retrair ' + title"
        @click="toggleOpen"
      />
    </div>
    <span v-if="isOpen">
      <slot />
    </span>
  </div>
</template>

<script>
// import FontAwesomeIcon from "../../font-awesome-share";
// import BrButton from "../Button/Button.ce.vue";

export default {
  name: "BrItem",
  // components: {
  //   // FontAwesomeIcon,
  //   /* Utilizando lazy import pois o br-button só é renderizado quando o br-list pai é dataToggle */
  //   BrButton,
  // },
  inject: ["parentList", "parentNotification"],
  provide() {
    return {
      parentNotification: this.parentNotification,
    }
  },
  props: {
    /**
     * **[OPCIONAL]** Coloca o item como ênfase, destacando-o dos demais.
     * */
    active: {
      type: Boolean,
      default: false,
    },
    /**
     * **[OPCIONAL]** Efeito Hover, destaca o item ao passar o mouse por cima do mesmo.
     */
    hover: {
      type: Boolean,
      default: false,
    },
    /**
     * **[OPCIONAL]** Desabilita o item, mudando o cursor do mouse para símbolo de desabilitado e oculta o item para clique.
     */
    disabled: {
      type: Boolean,
      default: false,
    },
    /**
     * **[OPCIONAL]** Destaca o item como selecionado. Possui um watcher que dispara um evento quando o seu valor é modificado.
     */
    selected: {
      type: Boolean,
      default: false,
    },
    /**
     * **[OPCIONAL]** Indica se o item está aberto/fechado quando o br-list pai é data-toggle. Possui um watcher que dispara um evento quando o seu valor é modificado.
     * */
    open: {
      type: Boolean,
      default: false,
    },
    /**
     * **[OPCIONAL]** Título visível para o item quando o br-list pai é data-toggle.
     * */
    title: {
      type: String,
      default: null,
    },
    /**
     * **[OPCIONAL]** URL ou PATH pelo qual o usuario sera encaminhado ao clicar no item. Adicionar um link torna o item do tipo link.
     * */
    href: {
      type: String,
      default: null,
    },
  },
  emits: [
    /**
     * **[OPCIONAL]** Possibilidade de escutar o evento de mudança da propriedade selected.
     */
    "toggle-selected",
    /**
     * **[OPCIONAL]** Possibilidade de escutar o evento de abertura/fechamento do br-item em um br-list data-toggle.
     */
    "toggle-open",
  ],
  data() {
    return {
      isOpen: this.open,
    }
  },
  computed: {
    dataToggleParentBrList: function () {
      return this.parentList && this.parentList.isDataToggle()
    },
    dataUniqueParentBrList: function () {
      return (
        this.parentList &&
        this.parentList.isDataToggle() &&
        this.parentList.isDataUnique()
      )
    },
  },
  watch: {
    /**

     * Dispara o evento toggle-selected quando a prop selected é modificada.
     */
    selected: function (newValue) {
      this.$emit("toggle-selected", newValue)
    },
    /**
     * Dispara o evento toggle-open quando a prop open é modificada.
     */
    open: function (newValue) {
      this.$emit("toggle-open", newValue)
    },
  },
  mounted() {
    this.$nextTick(() => {
      if (this.dataToggleParentBrList) {
        this.parentList.addItem(this)
        this.isOpen = this.open
      } else {
        this.isOpen = true
      }
    })
  },
  methods: {
    toggleOpen() {
      if (!this.isOpen && this.dataUniqueParentBrList) {
        this.parentList.closeAllItems()
      }
      this.isOpen = !this.isOpen
    },
  },
}
</script>

<style lang="scss">
@import "~@govbr/dsgov/src/partial/scss/_base";
@import "~@govbr/dsgov/src/partial/scss/_utilities";
@import "~@govbr/dsgov/src/components/item/_item";

.content {
  align-items: center;
  display: flex;
}
</style>
