<!--
This file is part of DSGOV.BR - Web Components.

DSGOV.BR - Web Components is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Web Components is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Web Components. If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template #actionSearch>
  <br-button
    circle
    icon="search"
    aria-label="Abrir Busca"
    data-toggle="search"
    data-target=".header-search"
    @click="openSearch()"
  />
</template>

<script>
import BrButton from "../Button/Button.ce.vue"

export default {
  name: "HeaderActionSearch",
  components: {
    BrButton,
  },
  emits: ["openSearch"],
  data() {
    return {
      open: true,
    }
  },
  methods: {
    openSearch() {
      this.$emit("openSearch", this.open)
    },
  },
}
</script>
