<!--
This file is part of DSGOV.BR - Web Components.

DSGOV.BR - Web Components is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Web Components is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Web Components. If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template #headerSearch>
  <br-input
    :id="id"
    is-highlight
    newclass="has-icon"
    :label="label"
    :placeholder="test"
    icon="search"
  />
  <template v-if="isActive">
    <br-button
      circle
      class="search-close ml-1"
      aria-label="Fechar Busca"
      data-dismiss="search"
      @click="closeInputSearch()"
    >
      <font-awesome-icon icon="times" aria-hidden="true" />
    </br-button>
  </template>
</template>

<script>
import FontAwesomeIcon from "../../font-awesome-share"
import BrInput from "../Input/Input.ce.vue"
import BrButton from "../Button/Button.ce.vue"

export default {
  name: "HeaderSearch",
  components: {
    FontAwesomeIcon,
    BrButton,
    BrInput,
  },
  inject: ["isSearch"],
  props: {
    /**
     * **[OPCIONAL]** PROPRIEDADE HERDADA DO INPUT: Indicando que tipo de informação deverá ser digitada no Campo de Texto.
     */
    label: {
      type: [String, Number],
      validator: function (value) {
        return value.length > 0
      },
      default: "Texto da pesquisa",
    },
    /**
     * **[OPCIONAL]** PROPRIEDADE HERDADA DO INPUT: Tem a função de auxiliar o usuário em como preencher os dados solicitados. Obrigatoriamente deverá trazer uma informação mais completa que a contida no Rótulo/Label.
     */
    placeholder: {
      type: String,
      validator: function (value) {
        return value.length > 0
      },
      default: "O que você procura?",
    },
    /**
     * **[OPCIONAL]** Recomenda-se a inclusão do atributo **id** no input, responsável também pela inclusão automática do atributo **for** do label (importante para especificar a qual elemento do formulário o label está vinculado).
     */
    id: {
      type: [String],
      validator: function (value) {
        return value.length > 0
      },
      default: "searchbox-91098",
    },
  },
  data() {
    return {
      isActive: true,
    }
  },
  computed: {
    test: function () {
      return this.placeholder
    },
  },
  beforeUpdate() {
    this.isActive = true
  },
  methods: {
    closeInputSearch() {
      this.isActive = false
      this.$parent.isActive = this.isActive
    },
  },
}
</script>
<style lang="scss">
@import "~@fortawesome/fontawesome-svg-core/styles";
@import "~@govbr/dsgov/src/partial/scss/_base";
@import "~@govbr/dsgov/src/partial/scss/_utilities";
@import "~@govbr/dsgov/src/components/input/_input";
@import "~@govbr/dsgov/src/components/button/_button";
@import "~@govbr/dsgov/src/components/header/_header";

:host {
  @include header-search;
}
</style>
