<!--
This file is part of DSGOV.BR - Web Components.

DSGOV.BR - Web Components is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Web Components is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Web Components. If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template>
  <header class="br-header" :class="checkClass">
    <div :class="containerFluid ? 'container-fluid' : 'container-lg'">
      <div class="header-top">
        <div class="header-logo">
          <img v-if="image" :src="image" alt="logo">
          <br-divider
            v-if="signature && image && !isMobile && !compact"
            vertical
            class="mx-half mx-sm-1"
          />
          <div v-if="signature" class="header-sign">
            {{ signature }}
          </div>
        </div>
        <slot name="headerAction" />
      </div>
      <div class="header-bottom">
        <div class="header-menu">
          <div v-if="hasMenu" class="header-menu-trigger">
            <slot name="headerMenu">
              <br-button
                id="navigation"
                circle
                density="small"
                aria-label="Menu"
                data-toggle="menu"
                data-target="#main-navigation"
              >
                <font-awesome-icon icon="bars" aria-hidden="true" />
              </br-button>
            </slot>
          </div>
          <div class="header-info">
            <div v-if="title" class="header-title">
              {{ title }}
            </div>
            <div v-if="subtitle && showSubtitle" class="header-subtitle">
              {{ subtitle }}
            </div>
          </div>
        </div>
        <div
          v-if="hasSearch"
          class="header-search"
          :class="{ active: isActive || (isActive && compact) }"
        >
          <BrHeaderSearch
            :id="id"
            :label="labelSearch"
            :placeholder="placeholderSearch"
          />
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import FontAwesomeIcon from "../../font-awesome-share"
import BrButton from "../Button/Button.ce.vue"
import BrHeaderSearch from "./HeaderSearch.ce.vue"

const Header = {
  name: "br-header",
  components: {
    BrButton,
    FontAwesomeIcon,
    BrHeaderSearch,
  },
  provide() {
    return {
      provideAction: this,
    }
  },
  props: {
    /**
     * **[OPCIONAL]** O tipo Compacto é mais utilizado quando as informações a serem exibidas forem mais sucintas ou seja necessário dar mais espaço visível à área de conteúdo.
     */
    compact: {
      default: false,
      type: Boolean,
    },
    /**
     * **[Opcional]** A assinatura serve para identificar uma subcategoria ou descrição relacionada à marca. Descreve uma categoria superior ao título do cabeçalho. Fica localizada ao lado da logo/marca.
     */
    signature: {
      default: null,
      type: String,
    },
    /**
     * **[Obrigatório]** Apesar do Logo ser um elemento opcional no Header, o src é um atributo obrigatório que aponta para o endereço do arquivo de imagem.
     */
    image: {
      default: null,
      type: String,
    },
    /**
     * **[Opcional]** Tamanhos para a logo. Padrão é o medium **[ large | medium | small]**.
     */
    density: {
      default: null,
      type: String,
      validator: function (value) {
        return ["large", "small"].includes(value)
      },
    },
    /**
     * **[Obrigatório]** Título que identifica o site, sistema ou aplicativo. Em alguns dispositivos (como celulares), o título pode identificar a página atual. É possível utilizar um texto ou outro elemento para substituí-lo.
     */
    title: {
      default: null,
      type: String,
      validator: function (value) {
        return value.length > 0
      },
    },
    /**
     * **[Opcional]** Serve para reforçar a identificação de uma categoria associada ao título da página, ou descrição do mesmo. Fica localizado logo abaixo do título principal do cabeçalho.
     */
    subtitle: {
      default: null,
      type: String,
      validator: function (value) {
        return value.length > 0
      },
    },
    /**
     * **[OPCIONAL]** Insere botão Menu.
     */
    hasMenu: {
      default: false,
      type: Boolean,
    },
    /**
     * **[OPCIONAL]** Insere campo de texto da Pesquisa.
     */
    hasSearch: {
      default: false,
      type: Boolean,
    },
    /**
     * **[OPCIONAL]** Indicando que tipo de informação deverá ser digitada no Campo de Texto da Pesquisa.
     */
    labelSearch: {
      type: [String, Number],
      validator: function (value) {
        return value.length > 0
      },
      default: "Texto da pesquisa",
    },
    /**
     * **[OPCIONAL]** Tem a função de auxiliar o usuário em como preencher os dados solicitados no campo de Pesquisa. Obrigatoriamente deverá trazer uma informação mais completa que a contida no Rótulo/Label.
     */
    placeholderSearch: {
      type: String,
      validator: function (value) {
        return value.length > 0
      },
      default: "O que você procura?",
    },
    /**
     * **[OPCIONAL]** Posiciona o conteúdo do componente br-header de maneira que ocupe todo o espaço da margem.
     */
    containerFluid: {
      default: false,
      type: Boolean,
    },
  },
  data() {
    return {
      isActive: false,
      showSubtitle: true,
      windowWidth: window.innerWidth,
      id: "searchbox" + this._.uid,
    }
  },
  computed: {
    checkClass() {
      return {
        large: this.density === "large",
        medium: this.density === "medium",
        small: this.density === "small",
        compact: this.compact,
      }
    },
    isMobile: function () {
      return this.windowWidth < 576
    },
  },
  mounted() {
    window.addEventListener("resize", () => {
      this.windowWidth = window.innerWidth
    })
  },
  methods: {
    isSearch() {
      return this.hasSearch
    },
    isCompact() {
      return this.compact
    },
  },
}

export default Header
</script>
<style lang="scss">
@import "~@fortawesome/fontawesome-svg-core/styles";
@import "~@govbr/dsgov/src/partial/scss/_base";
@import "~@govbr/dsgov/src/partial/scss/_utilities";
// Dependencias
@import "~@govbr/dsgov/src/components/input/_input";
@import "~@govbr/dsgov/src/components/button/_button";
@import "~@govbr/dsgov/src/components/header/_header";
@import "~@govbr/dsgov/src/components/divider/_divider";

input::placeholder {
  font-style: italic;
  font-size: 14px;
}
</style>
