<!--
This file is part of DSGOV.BR - Web Components.

DSGOV.BR - Web Components is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Web Components is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Web Components. If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template>
  <div
    v-if="progress"
    ref="root"
    :progress="progress"
    class="br-loading"
    :data-progress="percent"
  >
    <div class="br-loading-mask full">
      <div class="br-loading-fill" />
    </div>
    <div class="br-loading-mask">
      <div class="br-loading-fill" />
    </div>
  </div>

  <div v-else :style="{ display: styleBlock, textAlign: styleAlign }">
    <div class="loading" :class="{ medium: medium }" />
    <span class="rotulo">{{ label }}</span>
  </div>
</template>

<script>
import { onUpdated, ref } from "vue"

export default {
  name: "Loading",
  props: {
    /**
     * **[OPCIONAL]** Elemento visual que representa dinamicamente a progressão percentual de 0% a 100%.
     */
    progress: {
      default: false,
      type: Boolean,
    },
    /**
     * **[OPCIONAL]** Elemento visual que representa dinamicamente a progressão percentual de 0% a 100%.
     */
    percent: {
      default: 100,
      type: Number,
      validator: function (value) {
        return value >= 0 || value <= 100
      },
    },
    /**
     * **[OPCIONAL]** Disponível apenas no Loading Indeterminado. Restrito para uso dentro de outros componentes, onde o espaço é menor ou em situações em que se quer dar pouco destaque ao processamento. Também pode ser utilizado com ou sem o rótulo.
     */
    medium: {
      default: false,
      type: Boolean,
    },
    /**
     * **[OPCIONAL]** Elemento visual usado apenas no Loading Indeterminado. Recomenda-se o uso em situações em que a probabilidade de demora do processamento do sistema seja maior.
     */
    label: {
      type: String,
      default: "",
    },
  },

  setup(props) {
    const root = ref(null)
    const getPercent = ref(props.percent)
    const styleBlock = ref("block")
    const styleAlign = ref("center")

    const changeLoadingPercent = (percentValue) => {
      if (getPercent.value > 0 && props.progress) {
        let list = root.value.querySelectorAll(".br-loading-mask.full")
        list.forEach((item) => {
          item.style.animation = `fill ease-in-out 2s`
          item.style.transform = `rotate(${percentValue * 1.8}deg)`
        })

        let listFill = root.value.querySelectorAll(".br-loading-fill")
        listFill.forEach((item) => {
          item.style.animation = `fill ease-in-out 2s`
          item.style.transform = `rotate(${percentValue * 1.8}deg)`
        })

        root.value.setAttribute("data-progress", percentValue)
      }
    }

    onUpdated(() => {
      changeLoadingPercent(props.percent)
      if (props.progress) {
        root.value = this.$el
      }
    })

    return {
      root,
      changeLoadingPercent,
      styleBlock,
      styleAlign,
    }
  },
}
</script>
<style lang="scss">
@import "~@govbr/dsgov/src/partial/scss/_base";
@import "~@govbr/dsgov/src/partial/scss/_utilities";
@import "~@govbr/dsgov/src/components/loading/_loading";
</style>
