<!--
This file is part of DSGOV.BR - Web Components.

DSGOV.BR - Web Components is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Web Components is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Web Components. If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template>
  <footer class="br-footer" :class="{ inverted: inverted }">
    <div class="container-lg">
      <slot name="logo" />
      <div
        class="br-list horizontal"
        data-toggle="data-toggle"
        data-unique="data-unique"
      >
        <div
          v-for="category in listCategories"
          :key="category.title"
          class="col-2"
        >
          <a
            class="br-item header"
            :class="{ open: category.open }"
            href="javascript:void(0)"
            @click="toggle(category)"
          >
            <div class="content text-down-01 text-bold text-uppercase">
              {{ category.title }}
            </div>
            <div v-if="canToggle" class="support">
              <font-awesome-icon
                :icon="category.open ? 'angle-up' : 'angle-down'"
                size="1x"
                aria-hidden="true"
              />
            </div>
          </a>
          <div
            v-if="(canToggle && category.open) || !canToggle"
            class="br-list"
          >
            <span class="br-divider d-md-none" />
            <a
              v-for="item in category.items"
              :key="item.title"
              class="br-item"
              :href="item.href"
            >
              <div class="content">{{ item.title }}</div>
            </a>
            <span class="br-divider d-md-none" />
          </div>
        </div>
      </div>

      <div class="d-none d-sm-block">
        <div class="row align-items-end justify-content-between py-5">
          <slot name="redesSociais" />
          <div class="col assigns text-right" inverted>
            <slot name="footerImagens" />
          </div>
        </div>
      </div>
    </div>
    <span class="br-divider my-3" />
    <div class="container-lg">
      <div class="info">
        <div class="text-down-01 text-extra-bold pb-3 text-center">
          {{ text }}
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
import FontAwesomeIcon from "../../font-awesome-share"
import { parsePropStringToJSON } from "../../util/Utils.js"

const MEDIA_BREAKPOINT_NOT_TOGGLE = "(min-width: 992px)"

const BrFooter = {
  name: "br-footer",
  components: {
    FontAwesomeIcon,
  },
  props: {
    inverted: {
      type: Boolean,
      default: false,
    },
    text: {
      type: String,
      default: "",
    },
    categories: {
      type: String,
      default: "",
    },
  },
  data() {
    return {
      dataListCategories: null,
      canToggle: false,
    }
  },
  computed: {
    listCategories: function () {
      if (this.dataListCategories) {
        const copy = [...this.dataListCategories]
        // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        this.dataListCategories = null
        return copy
      }
      if (this.categories) {
        return parsePropStringToJSON(this.categories)
      }

      return []
    },
  },
  mounted() {
    this.$nextTick(() => {
      const verifyCanToggle = () => {
        try {
          this.canToggle = !window.matchMedia(MEDIA_BREAKPOINT_NOT_TOGGLE)
            .matches
        } catch (e) {
          e
        }
      }
      verifyCanToggle()
      window.addEventListener("resize", verifyCanToggle)
    })
  },
  methods: {
    toggle(category) {
      if (!this.dataListCategories) {
        this.dataListCategories = [...this.listCategories]
      }

      if (!category.open) {
        this.dataListCategories.forEach((c) => (c.open = false))
      }
      category.open = !category.open
    },
  },
}

export default BrFooter
</script>

<style lang="scss">
@import "@fortawesome/fontawesome-svg-core/styles";
@import "~@govbr/dsgov/src/partial/scss/_base";
@import "~@govbr/dsgov/src/partial/scss/_utilities";
@import "~@govbr/dsgov/src/components/list/_list";
@import "~@govbr/dsgov/src/components/item/_item";
@import "~@govbr/dsgov/src/components/divider/_divider";
@import "~@govbr/dsgov/src/components/footer/_footer";
</style>
