<!--
This file is part of DSGOV.BR - Web Components.

DSGOV.BR - Web Components is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Web Components is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Web Components. If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template>
  <span
    class="br-avatar mt-1"
    :title="name"
    :class="[
      {
        small: density === 'small',
        medium: density === 'medium',
        large: density === 'large',
      },
    ]"
  >
    <span v-if="isIcon || image" class="image">
      <font-awesome-icon
        v-if="isIcon"
        icon="user"
        size="lg"
        aria-hidden="true"
      />
      <img v-else :src="image" alt="Avatar" loading="lazy">
    </span>
    <span v-else class="image bg-support-01 text-secondary-01">{{
      avatarLetter
    }}</span>
  </span>
</template>

<script>
import FontAwesomeIcon from "../../font-awesome-share"

export default {
  name: "Avatar",
  components: {
    FontAwesomeIcon,
  },
  props: {
    /**
     * Nome do usuário que será apresentado no avatar pela letra
     */
    name: {
      type: String,
      default: "John Doe",
      validator: function (val) {
        return val.trim().length > 1
      },
    },
    /**
     * Se informado define que o avatar apresentado será do tipo fotográfico
     */
    image: {
      type: String,
      validator: function (val) {
        return val.match(/^https?:\/\/[\w\d/.]*/g)
      },
      default: null,
    },
    /**
     * Se informado define que o avatar apresentado será do tipo ícone
     */
    iconic: {
      type: Boolean,
      default: false,
    },
    /**
     * Niveis de densidade para o elemento avatar, opções validas são "small", "medium" e "large"
     */
    density: {
      type: String,
      default: "small",
      validator: function (value) {
        return ["small", "medium", "large"].includes(value)
      },
    },
  },
  computed: {
    isIcon() {
      return this.iconic && !this.image
    },
    avatarLetter() {
      return this.name[0].toUpperCase()
    },
  },
}
</script>

<style lang="scss">
@import "~@fortawesome/fontawesome-svg-core/styles";
@import "~@govbr/dsgov/src/partial/scss/_base";
@import "~@govbr/dsgov/src/partial/scss/_utilities";
@import "~@govbr/dsgov/src/components/avatar/_avatar";
</style>
